.wrapper {
  display: flex;
  height: fit-content;
  user-select: none;
  overflow-y: scroll;
}

.column {
  display: flex;
  flex-direction: column;
  width: fit-content;
  min-width: 350px;
  padding: 0;
  .button {
    //height: 100%;
    width: 20px;
    background-color: red;
  }
}

.groupElement {
    margin-top: 1px;
    .titleGroup {
      display: flex;
      cursor: pointer;
      border-radius: 5px;
      justify-content: space-between;
      min-height: 45px;

      align-items: center;

      transition: all 0.2s ease;
      &:hover {
        background-color: #eeeeee;
      }
      h4 {
        padding: 3px 5px;
      }
      svg {
        width: 15px;
        transform: rotate(270deg);
        transition: transform 0.2s ease;
      }
    }
}

.groupElementActive {
  .titleGroup {
    height: 25px;
    margin: 1px;

    svg {
      transform: rotate(90deg);
    }
  }
}

.sectionElement {
  opacity: 0;
  height: 0;
  padding: 0 10px;
  overflow: hidden;
  transition: all 0.2s ease;

}

.sectionElementActive {
  opacity: 1;
  height: auto;
  padding: 5px 10px;
  display: flex;
  height: 29px;
  align-items: center;
  justify-content: space-between;

  div {
    width: 200px;
    display: flex;
    flex-direction: row;
  }
}

.grid {
  width: fit-content;
  overflow-x: scroll;
  height: 100%;
  position: relative;

}

.rowWrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  //height: calc(100% - 25px);
  width: 4800px;
  background-image: repeating-linear-gradient(to right,
          #ccc, #ccc 1px, transparent 1px, transparent 200px);
}

.groupWrapper {
  min-height: 45px;
  width: 100%;
  position: relative;
  margin: 1px;
  background-color: rgba(49, 49, 49, 0.25);
}

.row {
  position: relative;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    background-color: rgba(49, 49, 49, 0.34);
  }
}


.eventWrapper {
  position: absolute;
  min-width: fit-content;
  //padding: 0 10px;
  border-radius: 3px;
  color: white;
  cursor: pointer;

}

.noScroll {
  overflow: hidden;
}
