.bottomWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.bottomButton {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
}