.wrapper {
  display: flex;
  min-height: 25px;
  width: fit-content;
  &::-webkit-scrollbar { width: 0 !important; height: 0 !important}
  & { -ms-overflow-style: none !important; }
  //position: absolute;

}

.element {
  min-width: 200px;
  text-align: center;
}

